<app-nav></app-nav>
<div class="flex flex-column align-items-center gap-3 mb-3">
  <div
    class="promo flex justify-content-center align-items-center w-12 md:h-30rem sm:h-30rem h-20rem"
  >
    <div class="container w-12">
      <app-movie></app-movie>
    </div>
  </div>
  <div class="container w-12">
    <toppicks banner="Top Picks for You"></toppicks>
  </div>
  <div class="container w-12">
    <movies banner="Western Movies"></movies>
  </div>
  <div class="container w-12">
    <poppular banner="New Releases"></poppular>
  </div>
  <div class="container w-12">
    <list banner="My List"></list>
  </div>
</div>
